.root {
    -fx-background-image: url("images/said.jpg");
    -fx-background-size: cover;
}

#goodLuckButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill: #828282;
    -fx-background-image: url("images/said.jpg");
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}